<!DOCTYPE html>
<html>
  <head>
    <title>Hugs And Coffee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'publish_profile.js' %>
    <%= javascript_pack_tag 'profile_menu.js' %>
    <%= javascript_pack_tag 'hide_flash_msg.js' %>
    <%= javascript_pack_tag 'coffee_appreciation_form.js' %>
  </head>
  <body>
    <% flash.each do |message_type, msg| %>
      <%= content_tag(:div, id: "msg-wrapper", class: "msg-wrapper #{message_type}") do %>
        <%= content_tag(:div, class: "vectormsg-wrapper") do %>
          <%= image_tag("Vectormsg.svg", id: "vectormsgwrapper-img") %>                
        <% end %>
        <%= content_tag(:h6, msg, class: "primary-font") %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>